* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  background: none;
  border: none;
}

.logo {
  width: 90px;
}

.hero_container {
  min-height: 100vh;
  width: 100%;
  background-image: url("./Assets/svgs/bg-hero-mobile.svg");
}

.navbar {
  width: 90%;
  margin: auto;
  padding: 1rem 0;
}

.navitems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary_button {
  font-weight: 600;
  font-size: 10px;
  padding: 0.5rem 2rem;
  background-color: #fff;
  border-radius: 50px;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.primary_button:hover {
  opacity: 80%;
}

@media (min-width: 640px) {
  .logo {
    width: 150px;
  }

  .navbar {
    padding: 2rem 0;
  }

  .hero_container {
    background-image: url("./Assets/svgs/bg-hero-desktop.svg");
  }

  .primary_button {
    font-size: 12px;
    padding: 0.5rem 2.5rem;
  }
}
