* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  outline: none;
  background: none;
  border: none;
}

button:hover {
  opacity: 75%;
  cursor: pointer;
}

.logo {
  width: 90px;
}

.hero_container {
  height: fit-content;
  width: 100%;
  background-image: url("./Assets/svgs/bg-hero-mobile.svg");
  background-color: aliceblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 90%;
  margin: auto;
  padding: 1rem 0;
}

.navitems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary_button {
  font-weight: 600;
  font-size: 12px;
  padding: 0.5rem 2rem;
  background-color: #fff;
  border-radius: 50px;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.secondary_button {
  font-weight: 600;
  font-size: 14px;
  padding: 0.7rem 2.5rem;
  background-color: #f472b6;
  color: #fff;
  border-radius: 50px;
}

.content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 90%;
  margin: auto;
  padding-top: 2rem;
}

.content_paragraphs {
  padding-bottom: 2.5rem;
}

.content_paragraphs_heading {
  font-size: x-large;
  color: #1a1a40;
  padding-bottom: 1.5rem;
}

.content_paragraphs_para {
  color: #374151;
  font-size: small;
  padding-bottom: 1.5rem;
}

.content_image {
  width: 100%;
}

.card_container {
  margin: 3rem 2rem;
}

.card_image {
  width: 100%;
}

.card_content_heading {
  font-size: larger;
  color: #1a1a40;
  padding: 1.5rem 1.5rem 0.7rem 1.5rem;
}

.card_content_paragraph {
  color: #374151;
  font-size: small;
}

.card1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 15px;
  box-shadow: 10px 12px 22px -17px rgba(0, 0, 0, 0.1),
    -10px -10px 22px -17px rgba(0, 0, 0, 0.1);
}

.card2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 15px;
  box-shadow: 10px 12px 22px -17px rgba(0, 0, 0, 0.1),
    -10px -10px 22px -17px rgba(0, 0, 0, 0.1);
}

.card3 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 15px;
  box-shadow: 10px 12px 22px -17px rgba(0, 0, 0, 0.1),
    -10px -10px 22px -17px rgba(0, 0, 0, 0.1);
}

.CF_container {
  position: relative;
  width: 100%;
}

.communitycard_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 1rem;
  margin-top: 3rem;
  margin: 0 2rem;
  border-radius: 15px;
  box-shadow: 10px 12px 22px -17px rgba(0, 0, 0, 0.1),
    -10px -10px 22px -17px rgba(0, 0, 0, 0.1);
}

.communitycard_heading {
  font-size: small;
  color: #1a1a40;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

.shadow_effect {
  font-size: x-small;
  padding: 0.5rem 4rem;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  margin-bottom: 1.4rem;
}

footer {
  position: absolute;
  z-index: -50;
  top: 80px;
  width: 100%;
  background-color: #00252e;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem;
}

.footer_logo {
  width: 150px;
  margin-bottom: 1.5rem;
}

.footer_images {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.phone {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.mail {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.footer_name {
  padding-left: 1rem;
  font-size: small;
}

.footer_name2 {
  font-size: small;
  padding-bottom: 1rem;
}

.footer_name2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.social_handles {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-icon {
  padding: 0.5rem;
  font-size: large;
}

ion-icon:hover {
  color: #f472b6;
  cursor: pointer;
}

.footer_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyrights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyright_text {
  font-size: x-small;
  margin-bottom: 0.5rem;
}

.creator_text {
  font-size: smaller;
}

.creator_name {
  text-decoration: none;
  color: #dc143c;
}

@media (min-width: 640px) {
  .logo {
    width: 150px;
  }

  .navbar {
    padding: 2rem 0;
  }

  .hero_container {
    background-image: url("./Assets/svgs/bg-hero-desktop.svg");
  }

  .primary_button {
    font-size: 12px;
    padding: 0.5rem 2.5rem;
  }

  .content_paragraphs {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    padding-right: 4rem;
  }

  .content_paragraphs_heading {
    font-size: xx-large;
    color: #1a1a40;
    padding-bottom: 1.5rem;
  }

  .content_paragraphs_para {
    color: #374151;
    font-size: large;
    padding-bottom: 1.5rem;
  }

  .card_container {
    margin: 5rem 4rem;
  }

  .card_content_heading {
    font-size: x-large;
    color: #1a1a40;
    padding: 1.5rem 1.5rem 0.7rem 1.5rem;
  }

  .card_content_paragraph {
    color: #374151;
    font-size: large;
  }

  .card1 {
    margin: 3rem 0;
  }

  .card2 {
    margin: 3rem 0;
  }

  .card3 {
    margin: 3rem 0;
  }

  .communitycard_container {
    margin: 5rem 4rem;
  }

  .communitycard_heading {
    font-size: large;
  }

  .shadow_effect {
    font-size: medium;
    padding: 0.7rem 5rem;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 6rem 2rem;
  }

  .address {
    margin-top: 3rem;
  }

  .footer_content,
  .footer_container {
    margin-top: 6rem;
  }

  .footer_content {
    display: flex;
    flex-direction: row;
  }

  .content1 {
    margin-right: 3rem;
  }
}

@media (min-width: 770px) {
  .content_container {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    padding-top: 2rem;
  }

  .content_paragraphs {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 45%;
    padding-right: 4rem;
  }

  .content_images {
    width: 55%;
  }

  .content_paragraphs_heading {
    font-size: xx-large;
    color: #1a1a40;
    padding-bottom: 1.5rem;
  }

  .content_paragraphs_para {
    color: #374151;
    font-size: large;
    padding-bottom: 1.5rem;
  }

  .card_container {
    margin: 6rem;
  }

  .card_content {
    padding-left: 6rem;
  }

  .card_images {
    padding-left: 6rem;
  }

  .card_content_heading {
    font-size: xx-large;
    color: #1a1a40;
    padding: 1rem 0;
  }

  .card_content_paragraph {
    color: #374151;
    font-size: large;
  }

  .card1 {
    flex-direction: row;
    text-align: left;
    padding: 5rem 2rem;
  }

  .card2 {
    flex-direction: row-reverse;
    text-align: left;
    padding: 5rem 2rem;
  }

  .card3 {
    flex-direction: row;
    text-align: left;
    padding: 5rem 2rem;
  }

  .communitycard_container {
    max-width: 600px;
    margin: auto;
    margin-bottom: 5rem;
  }

  .communitycard_heading {
    font-size: x-large;
  }

  .shadow_effect {
    font-size: large;
    padding: 0.7rem 5rem;
  }

  .footer_logo {
    width: 200px;
  }

  .footer_images {
    width: 16px;
    height: 16px;
  }

  .footer_name {
    font-size: medium;
  }

  .footer_name2 {
    font-size: medium;
  }

  .copyright_text {
    font-size: medium;
  }

  .creator_text {
    font-size: medium;
  }
}
